POSTGRES_DB=auth_sandbox_2
POSTGRES_USER=auth_sandbox
POSTGRES_PASSWORD=auth_sandbox

KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HOST=keycloak.localhost
KEYCLOAK_REALM=auth-sandbox-2
KEYCLOAK_CLIENT_ID=app-web
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_ADMIN_CLIENT_ID=auth-api-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=change-me-admin

AUTH_API_PORT=3000
AUTH_API_HOST=0.0.0.0
AUTH_API_PUBLIC_URL=http://auth.localhost:8088
AUTH_API_INTERNAL_URL=http://auth-api:3000

APP_WEB_PORT=4173
ADMIN_WEB_PORT=4174

TOFU_STATE_DIR=/state
